<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body class="bg-primary">
    <div class="container">
            <div class="col-lg-12 row">
                <div class="bobo col-lg-7 col-md-6">
                        <h1 style="margin-top: 80px;">Welcome to amCharts Support & Downloads</h1>
                        <p>No one takes supportmore seriously than amCharts!</p>
                        <p>It's true. We're fanantical about it. And we've got your back. <span><a style="color: yellow;" href="#">Read here how we roll</a></span>
                        <p>If you have a question, use any of the below options to get in touch. Commercial license owners, you will be able to acess your downloads once you log in. Not sure what to do next? Read this<br> <span><a style="color: yellow;" href="#">Introduction to Support Area.</a></span>
                        <hr style="border:1px solid rgb(255, 255, 255);">
                        <div style="display: flex; margin-bottom: 0%;">
                        <i class="far fa-envelope" style="font-size: 20px;"></i> 
                        <p style="margin-left: 10px;">In a hurry? Email us</p>
                    </div>
                    <a href style="color: yellow;">Contact@amcharts.com</a>
                </div>
                <div class="box col-lg-5 col-md-6 text-dark">                    <form method="post">
                        <h4 class="mt-4 text-center" style="font-weight: bolder; font-size: 30px; margin-bottom: 20px;">Login to Support Center</h4>
                        <div class="container">
                        <div class="row justify-content-center col-lg-12">
                        <div class="col-lg-10">
                         <label for="Email-Add">Email Address</label>
                        <input type="email" placeholder="Enter your email" style="display: block; width: 100%; height: 40px;" required>
                        <label for="password" style="margin-top: 20px;">Password</label>
                        <input type="password" placeholder="Enter your password" style="display: block; width: 100%; height: 40px; margin-bottom: 20px;" required>
                        <input type="checkbox" required> 
                        <label for="remember" style="margin-bottom: 10px;">Remember Me</label><br>
                        <input type="checkbox" required> 
                        <label for="agree" style="margin-bottom: 20px;">I agree to amCharts</label> <span><a href="#">Terms &Condition</a></span><br>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-primary" type="button" style="display: block; margin-bottom: 20px;">Log In</button>
                      </div>
                      <a href="#" >Forgot your password?</a> <a href="#" style="color: black; text-decoration: none;"><span  style="margin-left: 3.5em; text-decoration: none; font: optional;">Don't have account?</span></a>
                      <a href="#">Register now.</a>
                      <p  class="login" style="margin:50px 0 10px 0; font-size: 25px;"><b>Or log in with your account on</b></p>
                      <div class="bbb col-lg-10">
                        <a href="#"><button class="bg-primary" id="bt1" style="border: none; border-radius: 8px; color: white; margin-right: 12px;">Facebook</button></a>
                        <a href="#"><button class="bg-danger" style="border: none; border-radius: 8px; color: white; margin-right: 12px;">Google</button></a>
                        <a href="#"><button class="bg-dark" style="border: none; border-radius: 8px; color: white;">Github</button></a>
                  </div>
                      <div>
                         
                      </div>


                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
    </div>
    
</body>
</html>